<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717792355276-m2o0ic2c5qk9hobthrdqkuappdhe7eh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717792355276-m2o0ic2c5qk9hobthrdqkuappdhe7eh7</string>
	<key>API_KEY</key>
	<string>AIzaSyD8BwzxjEzkB1e17USy8iAEZjoEw5EEGbA</string>
	<key>GCM_SENDER_ID</key>
	<string>717792355276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.martusheff.octopus</string>
	<key>PROJECT_ID</key>
	<string>octopus-4d2e3</string>
	<key>STORAGE_BUCKET</key>
	<string>octopus-4d2e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717792355276:ios:52479bb34dd3a45f473369</string>
</dict>
</plist>